<h1>{{.PageTitle}}</h1>
<table>
    <tr>
        <th>Container ID</th>
        <th>Container Name</th>
        <th>Container Status</th>
        <th>Container Image Name</th>
        <th>Container Image Digest</th>
    </tr>
    {{range .Containers}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        {{if .Status == "running" || .Status == "healthy"}}
        <td bgcolor="green">{{.Status}}</td>
        {{else}}
        <td bgcolor="red">{{.Status}}</td>
        {{end}}
        <td>{{.ImageName}}</td>
        <td>{{.ImageDigest}}</td>
    </tr>
    {{end}}
</table>